@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 17% 95%; /* #ecf0f1 */
    --foreground: 210 10% 23%;

    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;

    --primary: 207 70% 53%; /* #3498db */
    --primary-foreground: 210 40% 98%;

    --secondary: 210 16% 90%;
    --secondary-foreground: 210 10% 23%;

    --muted: 210 16% 90%;
    --muted-foreground: 210 8% 45%;

    --accent: 207 61% 46%; /* #2980b9 */
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 12% 85%;
    --input: 210 12% 85%;
    --ring: 207 70% 53%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 10% 23%;
    --foreground: 204 17% 95%;
    --card: 210 10% 15%;
    --card-foreground: 204 17% 95%;
    --popover: 210 10% 15%;
    --popover-foreground: 204 17% 95%;
    --primary: 207 70% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 10% 30%;
    --secondary-foreground: 204 17% 95%;
    --muted: 210 10% 30%;
    --muted-foreground: 210 8% 65%;
    --accent: 207 61% 46%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 30%;
    --input: 210 10% 30%;
    --ring: 207 70% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
